@import "tailwindcss";

.hide_scroll {
  overflow: hidden;
  padding-right: var(--scroll-lock-padding-right);
}

.background-blocker {
  background-color: transparent;
}

@import "./tokens";
@import "./icons";
