@use "sass:math";

$primary-color: #1a1a1a;

.missionStatement {
  .rte {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: $primary-color;

    @media screen and (min-width: 768px) {
      font-size: 28px;
    }
  }

  .bannerImage {
    width: 160px;
    height: 20px;
    margin: 0 auto;
  }
}
