.sidebar {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 35vw;
  max-width: 450px;
  z-index: 50;
  background-color: white;
}

.sidebarCloseButton {
  width: 40px;
  height: 40px;
  padding: 0 6px;
  border-radius: 50px;
  background-color: var(--background-white);
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--bg-soft-red);
  }
}

.sidebarContainer {
  background-color: var(--background-white);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sidebarHeader {
  position: relative;
  padding: 13px 0;
  margin: 20px 10px 0 10px;
  border-bottom: 3px solid var(--background-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarHeading {
  font-family: var(--typography-font-family-secondary);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 40;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .sidebar {
    width: 40vw;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100vw;
  }
}
